@font-face {
    font-family: 'GoldmanSans-A-Md';
    src: url(Font/GoldmanSansCd_A_Bd.ttf);
    font-style: normal;
    font-weight: 300;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
}

header{
    display: flex;
    background-color: #f25c05;
    color: #FFFFFF;
    justify-content: space-between;

}

nav{
    display: flex;
    padding: 18px;
    margin-top: 30px;
    justify-content: space-evenly;
}
h1{
    font-family: "GoldmanSans-A-Md";
    margin-left: 60px;
    padding: 5px
}
a{
    text-decoration: none;
    color: #000000;
}
.contenedor-searchbar{
    width: 300px;
    height:  19px;
    margin: 0;
    background-color: #f8f8f8;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    border-radius: 50px;
}
#search{
  background: #F8F8F8;
  border: none;
  width: 100%;
  font-size: 10pt;
  float: left;
  border-radius: 50px;
  color: #63717f;
  padding: 5px;
  padding-left: 45px;
}

.icon{
    width: 37.5px;
    height:  19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #000000;
    position: absolute;
    left: 262.5px;
    border-radius: 0px 50px 50px 0px;
    padding: 15px;
    }
/* Comienzo del box de ofertas ----------------------------------------------------------- */
.conteiner-card{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.offers-card{
    display: flex;
    width: 100%;
    justify-content: start;
    margin-left: 120px;
}
.image-card{
    display: flex;
    width: 720px;
    height: 500px;
    margin: 5px;
    border-radius: 85px;
    border: none;
    box-shadow: 5px -1px 10px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px -1px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px -1px 10px 0px rgba(0,0,0,0.4);
}
.description-div{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 20px;
}
.description-div > p{
    width: 100%;
    margin-top:  5px;
    margin-bottom: 5px;
}
.description-div > ul{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px
}
ul > li {
    list-style-position: inside;
    margin: 0;
}

.buy-button{
    width: 100%;
    height: 45px;
    display: block;
    border: none;
    border-radius: 50px;
    background-color: #F25C05;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Comienzo del box de sugerencias ----------------------------------------------------------- */
.nav-section{
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0;
    margin-bottom: 15px;
}
.title-nav{
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    width: 270px;
    height: 60px;
    margin-left: 45px;
}
.nav-section > a{
    display: flex;
    width: 270px;
    height: 60px;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.nav-section > a:hover{
    width: 270px;
    background-color: #F25C05;
    color: white;
}
.destiny-container{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
}
.box-destiny{
    width: 300px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #F8F8F8;
    border: 8px solid #F8F8F8;
    border-radius: 25px;
    align-content: center;
    justify-content: center;
}
.image-destiny{
    width: 280px;
    height: 295px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
    margin-bottom: 8px;
}
.buttons-destiny{
    width: 100px;
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
}
/* .add-destiny-button, .share-destiny-button{
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
} */
.img-share-button{
    background-color: transparent;
    max-height: 50px;
    min-height: 50px;
    max-width: 50px;
    min-width: 50px;
    border: none;
    margin-right: 4px;
}
.img-share{
    width: 50px;
    height: 50px;
}
.img-mas-button{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    min-height: 50px;
    max-width: 50px;
    min-width: 50px;
    border-radius: 50%;    
    border: 4px solid #E5E1E2;
}
.img-mas{
    width: 30px;
    height: 30px;
}
.add-destiny-button>i{
    color: #E5E1E2;
    font-weight: 200;
}
.share-destiny-button{
    color: #F25C05;
}

.description-destiny-div{
    width: 270px;
}
.description-destiny-card{
    font-size: 11px;
    margin: 4px;
}
.card-destiny-name{
    font-size: 16px;
    margin: 4px;
    margin-top: 8px;
}
/* Inicio de box de Experiencias ------------------------------------------------------------------ */
.box-exp{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: #F25C05 1px solid;
    padding-top: 50px;
    padding-bottom: 50px;
}
.profile-container{
    width: 100%;
    margin-left: 80px;
    margin-bottom: 40px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.profile-name{
    margin: 10px;
}
.profile-pic{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.destiny-image{
    display: flex;
    width: 600px; /* Es aprox el 43% */
    height: 400px; /* Es aprox el 76% */
    border-radius: 60px;
    border: none;
    box-shadow: 5px -1px 10px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px -1px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px -1px 10px 0px rgba(0,0,0,0.4);
}
.exp-div{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 520px;
}
.ubication-card, .airline-card, .hotel-card, .price-card{
    background-color: transparent;
    display: flex;
    align-content: center;
    align-items: center;
    height: 50px;
    width: 520px;
}
.img-gps, .img-airplane, .img-bed{
    width: 40px;
    height: 40px;
    margin: 30px;
}

.buttons-exp{
    width: 100px;
    position: absolute;
    display: flex;
    top: 175px;
    right: 200px;
}